h1 {
    color: green;
    font-family: monospace, monospace;
}

@media screen {
    body {
        background: #000;
        margin: 0em;
        padding: 0em;
    }

    div {
        color: #66FF00;
        font-family: monospace;
        font-size: x-large;
        word-break: break-all;
        margin-top: 0em;
        margin-bottom: 0em;
        padding: 0em;
        height: 99vh;
        overflow: hidden;
    }

    div p {
        margin: 0em;
        padding: 0em;
    }
}

@media print {
    body {
        background: #FFFFFF;
    }

    p {
        color: black;
    }
}